.advantages {
  margin-bottom: 60px;

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fef7f0;
  }

  &__item {
    display: flex;
    width: calc(100%/3);
    padding: 47px 145px 47px 130px;

    &:not(:last-child) {
      border-right: 1px solid #e8e4df;
    }
  }

  &__bg {
    @include advantages-icon;

    &--large {
      width: 70px;
    }
  }

  &__title {
    display: block;
    width: 215px;
    margin-bottom: 15px;
    @extend %dmsans-700;
    line-height: 1.4;
    color: #414141;
    @include line-clamp (1);
  }

  &__descr {
    @include line-clamp (2);
    width: 215px;
    line-height: 1.4;
    color: #585858;
  }
}