// Ниже градиентом задан бэкграунд

.blog-news {
  background-image: linear-gradient(to bottom, #fff 0 67%, rgba($color: #fef7f0, $alpha: 1) 67% 78%);

  &__headline {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 45px;
  }

  &__all {
    @extend %dmsans-700;
    transition: color 0.3s;

    &:hover {
      color: $hover-color;
    }

    &:active {
      color: $active-color;
    }

    &:hover svg {
      fill: $hover-color;
    }

    &:active svg {
      fill: $active-color;
    }
  }

  &__arrow {
    width: 6px;
    height: 11px;
    margin-left: 20px;
    fill: $default-color;
    transition: fill 0.3s;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// Ты говорил что не у картинки, а у карточки скругленные углы, но когда так задаешь стили только карточке при изменении картинки она встает с без скругления, поэтому скругление теперь и там и там, так работает хорошо

.news {
  position: relative;
  max-width: 370px;
  border-radius: 7px 7px 0 0;
  background-color: #fff;
  

  &__image {
    font-size: 0;
  }

  &__img {
    max-width: 370px;
    max-height: 250px;
    object-fit: contain;
    border-radius: 7px 7px 0 0;
  }

  &__btn {
    position: absolute;
    top: 55%;
    left: 8%;
    padding: 6px 30px;
    @extend %dmsans-700;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    background-color: $bg-color;
    border-radius: 25px;
    transition: background-color, color 0.3s;

    &:hover {
      color: #222933;
      background-color: $hover-color;
    }

     &:active {
       color: #fff;
       background-color: $active-color;
     }
  }

  &__box {
    padding: 10px 30px 25px 30px;
  }

  &__title {
    height: 70px;
    margin-bottom: 10px;
    @extend %dmsans-500;
    font-size: 18px;
    @include line-clamp (3);
  }

  &__links {
    padding-top: 19px;
    @extend %rubik-500;
    font-size: 12px;
    text-transform: uppercase;
    color: #222933;
    border-top: 1px solid #e0e0e0;
  }

  &__date {
    margin-right: 20px;
    transition: color 0.3s;
  }

  &__admin {
    transition: color 0.3s;

    &:hover {
      color: $hover-color;
    }
    &:active {
      color: $active-color;
    }
    &:hover svg {
      fill: $hover-color;
    }
    &:active svg {
      fill: $active-color;
    }
  }

  &__icon {
    width: 12px;
    height: 12px;
    margin-right: 6px;
    transition: fill 0.3s;
  }
}