.clients {
  padding: 90px 0;
  background-color: #fef7f0;

  &__item {
    & img {
      max-width: 167px;
      max-height: 84px;
      object-fit: contain;
    }
  }

  .slick-track {
    display: flex;
    align-items: center;
  }

  .slick-slide {
    display: flex;
    justify-content: space-around;
  }
}