.filter {
  display: flex;
  justify-content: center;

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__btn {
    padding: 0;
    @extend %dmsans-700;
    color: #8b8b8b;
    border: none;
    background: none;
    cursor: pointer;
    outline: transparent;
    transition: color 0.3s;

    &:focus {
      color: $focus-color;
    }

    &:hover {
      color: $hover-color;
    }

    &:active {
      color: $active-color;
    }
  }
}

.products {

  &__title {
    margin-bottom: 23px;
  }

  &__filter {
    margin-bottom: 85px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 190px;
  }
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 37px 0 40px 0;
  width: 270px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

  &:hover &__items {
    opacity: 1;
  }

  &__image {
    position: relative;
    max-width: 270px;
    height: 206px;
    margin-bottom: 50px;
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    max-width: 238px;
    max-height: 206px;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    object-fit: contain;
  }

  &__title {
    margin-bottom: 7px;
    @extend %dmsans-500;
    font-size: 16px;
    color: $text-color;
    @include line-clamp (1);
  }

  &__price {
    @extend %dmsans-700;
    color: $bg-color;
  }

  &__items {
    position: absolute;
    display: flex;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s;
    opacity: 0;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__btn {
    position: relative;
    background-color: #fff;
    transition: background-color 0.3s;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);

    &:focus {
      background-color: $focus-color;
    }

    &:hover {
      background-color: $bg-color;
    }

    &:active {
      background-color: $active-color;
    }

    &:focus svg {
      fill: #fff;
    }

    &:hover svg {
      fill: #fff;
    }

    &:active svg {
      fill: #fff;
    }
  }

  &__bg {
    position: absolute;
    top: 17px;
    right: 15px;
    width: 22px;
    height: 20px;
    fill: $bg-color;
    transition: fill 0.3s;
  }
}

.mixitup-control-active {
  color: $focus-color;
}



