.video {
  &__inner {
    position: relative;
    height: 46vh;
    margin-bottom: 110px;
    @include bg-set (top center, cover);
  }

  &__link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 0;

    &:hover::before {
      box-shadow: 0 0 0 14px rgba(163, 187, 200, 0.4);
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 98px;
      height: 98px;
      border-radius: 50%;
      background-color: $bg-color;
      background-image: url('../images/icons/play-icon.svg');
      @include bg-set (center center, auto);
      box-shadow: 0 0 0 0 transparent;
      transform: translate(-50%, -50%);
      transition: box-shadow 0.7s;
    }
  }
}