$default-color: #262626;
$accent-color: #436372;
$primary-color: #fcd7b6;
$bg-color: #a3bbc8;
$text-color: #243f4d;
$title-color: #191919;
$hover-color: #ff8282;
$active-color: #b4a847;
$focus-color: #447188;

@mixin bg-set ($position, $size) {
  background-position: $position;
  background-repeat: no-repeat;
  background-size: $size;
}

@mixin line-clamp ($line-clamp) {
  display: -webkit-box;
  -webkit-line-clamp: $line-clamp;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


@mixin pseudo-element ($top) {
  content: '';
  position: absolute;
  top: $top;
}

@mixin advantages-icon {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 30px;
  fill: $bg-color;
}

%dmsans-400 {
  font-family: 'DMSans', sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: 'DMSans', sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: 'DMSans', sans-serif;
  font-weight: 700;
}

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%rubik-600 {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}