.footer {
  font-size: 14px;
  color: #7b7b7b;
  @extend %rubik-400;

  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 95px 0 50px 0;
    border-bottom: 1px solid #dae4e9;
  }

  &__column {
    flex: 0 1 25%;

    &--sm {
      max-width: 270px;
    }
    // Здесь мог быть отрицательный паддинг )). Он попал сюда случайно и не на что невлиял, я эксперементировал и забыл убрать
  }

  &__logo {
    position: absolute;
    top: 78px;
  }

  &__contact {
    padding-top: 50px;
    max-width: 210px;
  }

  &__link {
    display: inline-block;
    margin-bottom: 15px;
    transition: color 0.3s;

    &:hover {
      color: $hover-color;
    }

    &:active {
      color: $active-color;
    }
  }

  &__link span {
    text-transform: uppercase;
  }

  &__title {
    display: block;
    margin-bottom: 25px;
    @extend %dmsans-700;
    text-transform: uppercase;
    color: #1f2044;
  }

  &__text {
    line-height: 1.7;
    margin-bottom: 30px;
    @include line-clamp (2);
  }

  &__form {
    display: flex;
    align-items: center;
  }

  &__input {
    width: 170px;
    height: 40px;
    padding-left: 15px;
    border: none;
    background-color: #fef7f0;
    outline-color: $focus-color;
    transition: background-color 0.5s;

    &::placeholder {
      
      font-size: 12px;
      color: #234969;
    }

    &:focus {
      background-color: $focus-color;
    }

    &:hover {
      background-color: $hover-color;
    }

    &:active {
      background-color: $active-color;;
    }
  }

  &__btn {
    padding: 11px 17px;
    color: #fff;
    border: none;
    background-color: $bg-color;
    cursor: pointer;
    outline-color: $accent-color;
    transition: background-color 0.5s;

    &:focus {
      background-color: $focus-color;
    }

    &:hover {
      background-color: $hover-color;
    }

    &:active {
      background-color: $active-color;
    }
  }

  &__copyright {
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
  }

  &-menu {
    display: flex;

    &__item {
      padding: 0 15px;

      &:not(:last-child) {
        border-right: 1px solid #7b7b7b;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    &__link {
      transition: color 0.3s;

      &:hover {
        color: $hover-color;
      }

      &:active {
        background-color: $active-color;
      }
    }
  }
}